.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-top: 0;
  height: auto;
  box-shadow: 0 1px 3px -2px #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #ffffff; /* Set background color to white */
  z-index: 1000; /* Ensure navbar stays on top */
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: auto;
  gap: 30px;
  color: #000000; /* Set text color to orange */
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  margin: 0;
  padding-left: 5px;
}

.nav-menu li:hover {
  cursor: pointer;
  border-bottom: 3px solid #000000; /* White underline on hover */
}

.nav-menu.active {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  position: fixed; /* Fixed position for sidebar */
  top: 75px;
  right: 0; /* Show sidebar on the right side */
  width: 200px; /* Set desired width for sidebar */
  height: calc(100vh - 80px); /* Take full height of viewport */
  background-color: #ffffff;
  z-index: 999; /* Ensure menu stays on top */
  transition: 0.3s ease all; /* Add smooth transition */
}

.nav-menu li.active {
  background-color: #bfbfbf; /* Set background color to white */
  color: #000000; /* Set text color to orange */
  border-radius: 20px; /* Add curved edges */
  padding: 8px 16px; /* Adjust padding */
}

.nav-menu.active li:hover {
  cursor: pointer;
  border-bottom: 3px solid #000000; /* White underline on hover */
}

.nav-menu.active li.active {
  background-color: #bfbfbf; /* Set background color to white */
  border-radius: 20px; /* Add curved edges */
  padding: 8px 15px; /* Adjust padding */
  color: #000000; /* Set text color to blue */
}

.nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background-color: #000000; /* Set background color to white */
}

.menu {
  display: none; /* Hide initially */
}

.menu:checked + .nav-icon .icon:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu:checked + .nav-icon .icon:nth-child(2) {
  opacity: 0;
}

.menu:checked + .nav-icon .icon:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.nav-icon {
  cursor: pointer;
  padding: 10px;
  display: none; /* Hide by default */
  z-index: 999; /* Stay visible over */
  transition: background-color 0.3s ease; /* Transition for background color */
}

.icon {
  width: 30px;
  height: 5px;
  background-color: #000000; /* Set background color to orange */
  margin: 6px 0;
}

/* Set SAMTECH color to black */
.navbar .nav-logo h1 {
  color: #000000;
}

@media (max-width: 768px) {
  .nav-menu {
    display: none; /* Hide initially */
  }

  .nav-icon {
    display: block;
  }
}
