.about-container {
    padding: 6%; /* Add padding */
      padding: 5%; /* Padding */
      border-radius: 10px; /* Rounded edges */
      width: 80%; /* Adjust width */
      height: auto; /* Adjust height */
      margin: auto;
      justify-content: center;
      align-items: center;
  }
  
  .about-heading {
      font-size: 250%; /* Font size */
      font-weight: bold; /* Font weight */
      text-align: center; /* Center align */
      margin-top: -30px; /* Shift up */
      text-decoration: underline #bfbfbf; /* Underline */
      padding: 2%;
  }
  
  .about-card {
    border: 1px solid #bfbfbf; /* Add border */
    border-radius: 10px; /* Add rounded edges */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
    margin-bottom: 20px; /* Add margin between cards */
  }
  
  .about-card .card-img-top {
    height: 200px; /* Reduce card image height */
  }
  
  .about-card .card-body {
    padding: 10px; /* Add padding to card body */
  }